body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(image/vector.jpeg);
    background-size: cover;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.form {
    text-align: center;
}

header {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px 0;
    padding: 15px; /* Increase padding for larger input boxes */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #115c71;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #115c71;
}


/*-------- UPDATE --------*/
.content {
    position: relative;
    max-width: 95vw;
    width: 100%;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    margin: 15px 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .content form {
    position: relative;
    overflow-y: auto;
    min-height: 63vw;
    background-color: #fff;
    transition: 0.3s ease;
    padding: 10px;
  }
  
  .content h1 {
    text-align: center;
    font-size: 40px;
  }
  
  .content form .form {
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
  }
  
  form.secActive .form.first {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
  
  .content form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
  }
  
  .content form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .content form .nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #115c71;
    transition: all 0.3s linear;
    cursor: pointer;
    float: right;
  }
  
  .content::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content form .nextBtn .btnText {
    font-size: 14px;
    font-weight: 400;
  }
  
  .content form .nextBtn:hover {
    background-color: #198dad;
  }
  
  .content form .nextBtn i {
    margin: 0 6px;
  }
  
  .form .fields .input-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
  }
  
  .input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    margin-bottom: 4px;
  }
  
  .input-field input,
  .input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 8px;
    margin-bottom: 8px;
  }
  
  .input-field input:focus,
  .input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  }
  
  .input-field select,
  .input-field input[type="date"] {
    color: #707070;
  }
  
  .input-field input[type="date"]:valid {
    color: #333;
  }
  
  .tbl-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table,
  th,
  td {
    border: 1px solid #aba9a9;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  @media (max-width: 750px) {
    .content form {
      overflow-y: scroll;
    }
  
    .content form::-webkit-scrollbar {
      display: none;
    }
  
    form .fields .input-field {
      width: 100%;
    }
  }
  
  @media (max-width: 550px) {
    form .fields .input-field {
      width: 100%;
    }
  }